.dog_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}
.dog__dog_card {
    width: 45vh;
    text-align: center;
    margin: 10px;
  }
  
  .dog__dog_card img {
    width: 100%;
    border-radius: 100%; 
  }

  .dog__text_wrapper {

  }