.walker__main {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .walker__walker_card {
    width: 150px;
    text-align: center;
    margin: 10px;
  }
  
  .walker__walker_card img {
    width: 100%;
    border-radius: 100%; 
  }
  .walker__header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;
  }
  
  .walker__header_container h2 {
  
    
  }
  
  .walker__walker_gallery {
    width: 75%;
    margin: auto;
  }
  
  .walker__walker_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
    justify-content: space-around;
  }
  .walker__delete_btn {
    position: absolute;
  
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    transform: translate(50%, -50%);
    z-index: 10;
  }
  
  .walker__delete_btn:hover {
    color: red;
  }
  /* This prevents all the links in the app from having default underline */
  a {
    text-decoration: none;
    color: inherit;
  }
  /* This prevents all the links in the app from turning purple after visiting */
  a:visited {
    color: inherit;
  }
  /* This prevents all the inputs in the app from having that blue outline when in focus */
  input:focus {
    outline: none;
  }